---
language: ruby
bundler_args: --without development system_tests
before_install: rm Gemfile.lock || true
sudo: false

script:
  - bundle exec rake test
  - bundle exec rubocop lib
  - bundle exec puppet-lint --no-autoloader_layout-check manifests
matrix:
  fast_finish: true
  include:
  - rvm: 2.3.3
    env: PUPPET_GEM_VERSION="~> 4.0"
  - rvm: 2.3.3
    env: PUPPET_GEM_VERSION="~> 5.0"
  - rvm: 2.2.5
    env: PUPPET_GEM_VERSION="~> 4.0"
  - rvm: 2.1.6
    env: PUPPET_GEM_VERSION="~> 4.0"
  
   
