name: "ci"

on:
  pull_request:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  Spec:
    uses: "puppetlabs/cat-github-actions/.github/workflows/module_ci.yml@main"
    secrets: "inherit"

  Integration:
    needs: "Spec"
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix: {'platform':['rhel-8', 'debian-11'],'collection':['puppet8-nightly']}

    steps:
    - name: "Install Twingate"
      uses: "twingate/github-action@v1"
      with:
        service-key: ${{ secrets.TWINGATE_PUBLIC_REPO_KEY }}

    - name: Fix DNS
      run: |
        echo "=== Remove Azure DNS from eth0 interface ==="
        sudo resolvectl dns eth0 ""

        echo "=== Configure Twingate DNS properly ==="
        sudo resolvectl dns sdwan0 100.95.0.251 100.95.0.252
        sudo resolvectl domain sdwan0 delivery.puppetlabs.net

        echo "=== Flush DNS cache ==="
        sudo resolvectl flush-caches

        echo "=== Check new configuration ==="
        resolvectl status

        echo "=== Test DNS resolution ==="
        nslookup artifactory.delivery.puppetlabs.net

    - name: Checkout Source
      uses: actions/checkout@v3

    - name: Activate Ruby 3.1
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.1"
        bundler-cache: true

    - name: Print bundle environment
      run: |
        echo ::group::bundler environment
        bundle env
        echo ::endgroup::

    - name: Create the fixtures directory
      run: |
        echo ::group::Create the fixtures directory
        bundle exec rake spec_prep
        echo ::endgroup::

    - name: Provision test environment
      run: |
        bundle exec bolt --modulepath spec/fixtures/modules plan run kubernetes::provision_cluster image_type=${{ matrix.platform }}
        FILE='spec/fixtures/litmus_inventory.yaml'
        echo INVENTORY_PATH=$FILE >> $GITHUB_ENV
        cat $FILE

    - name: Puppet server setup
      run: |
        bundle exec bolt --modulepath spec/fixtures/modules plan run kubernetes::puppetserver_setup collection='${{ matrix.collection }}' -i ./$INVENTORY_PATH

    - name: Install agent
      run:  |
        bundle exec rake 'litmus:install_agent[${{ matrix.collection }}]'

    - name: Install module
      run: |
        bundle exec rake 'litmus:install_module'

    - name: Run integration tests
      run: |
        bundle exec rake kubernetes:integration
